$eclipse-red: #433;
$eerie-black: #262322;
$capuut-mortuum: #63372C;
$coppar-crayola: #C97D60;
$opal: #A3C4BC;
$tea-green: #BFD7B5;

body {
  --topbar-font: 48px;
  --bio-font: 28px;
  --cover-letter-font: 24px;
  --intro-font-big: 48px;
  --intro-font-small: 36px;
  --intro-subtitle-font: 20px;
  --home-profession-font: 80px;
  --home-tagline-font: 30px;
  --nav-icon-width: 40px;
  --ss-ratio: 0.5;
}

@media only screen and (min-width: 600px) {
  body {
    --ss-ratio: 0.75;
  }
}

@media only screen and (min-width: 800px) {
  body {
    --ss-ratio: 1;
  }
}
