$pink: #FF4F8E;
$gray: #645B5E;
$faded-red: #AF5032;
$light-red: #D23604;
$light-pink: #E290AE;
$extra-dark-red: #342727;
$extra-light-green: #4FFFEA;

$topbar-font: 48px;
$bio-font: 28px;
$intro-font-big: 54px;
$intro-font-small: 36px;
$intro-subtitle-font: 20px;
$home-profession-font: 100px;
$home-slogan-font: 80px;
$home-tagline-font: 30px;
